.header {
  position: absolute;
  display: flex;
  width: 100%;
  height: 96px;
  padding: 16px 256px;
}

.headerContent {
  width: 100%;
  padding: 16px;
  border-radius: 32px;
  backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
}

@media (max-width: 400px) {
  .header {
    padding: 16px 16px;
  }
}

@media (min-width: 400px) {
  .header {
    padding: 16px 32px;
  }
}

@media (min-width: 840px) {
  .header {
    padding: 16px 64px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 16px 128px;
  }
}

@media (min-width: 1280px) {
  .header {
    padding: 16px 256px;
  }
}

@media (prefers-color-scheme: light) {
  .headerContent {
    background-color: rgb(255, 255, 255, 0.44);
    backdrop-filter: blur(10.5px);
      -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(255, 255, 255, 0.23);
  }
}

@media (prefers-color-scheme: dark) {
  .headerContent {
    background-color: rgb(0, 0, 0, 0.44);
    backdrop-filter: blur(10.5px);
      -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(0, 0, 0, 0.23);
  }
}

