.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-image: url(https://source.unsplash.com/random/1920x1080?architecture-interior);
  background-size: cover;
}